html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.typeSelection {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 0 15px;
    border: 2px solid #000;
}

.typeSelection:hover {
    filter: contrast(200%) brightness(150%);
    border: 2px solid blue;
}

.typeSelection.active {
    border: 2px solid blue;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#searchInput {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#searchInput:focus {
    border-color: #4d90fe;
}

#addEvent {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

#addEvent i {
    font-style: normal;
}

#optionalModal {
    display: none;
}

#addNotif textarea {
    resize: none;
}

.pac-container {
    z-index: 5000;
}

#imgTypes {
    display: flex;
    justify-content: space-around;
}
