html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#optionalSearchInput, #optionnalLatLngInput {
    display: none;
}

/*******************************  MODAL CONTENT  *******************************/

#addNotif {
    height: 55%;
    width: 40%;
    border-radius: 15px;
}

.modal-content {
    height: 100% !important;
}

.modal-content h4 {
    text-align: center;
    margin-bottom: 5%;
}

.typeSelection {
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 40px;
    margin: 0 15px;
    border: 3px solid #000;
    box-shadow: 1px 1px 8px #000;
    padding: 2px;
    cursor: pointer;
}

.typeSelection:hover, .typeSelection.active {
    border: 3px solid #00B4D4;
}

.typeSelection:active {
    transform: scale(1.1);
}

#imgTypes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#imgTypes label {
    display: inline-grid;
    text-align: center;
    line-height: 35px;
    color: #000;
}

#dateInput, #timeInput {
    display: inline-block;
}

#coordChoice {
    display: flex;
    justify-content: space-evenly;
}
#coordChoice p {
    display: inline-block;
    margin: 0;
}


#saveModal {
    background-color: rgba(50,153,50,0.7);
}

#saveModal:hover {
    background-color: rgba(50,153,50,1);
}

#cancelModal {
    background-color: rgba(204,0,0,0.7);
}

#cancelModal:hover {
    background-color: rgba(204,0,0,1);
}

.modal-footer {
    display: flex;
    justify-content: space-evenly;
}

/* MODAL WHILE EDITING */

.editMode {
    display: none;
}


/*******************************  SEARCH PLACES INPUT  *******************************/

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#searchInput {
    background-color: #fff;
    font-family: Roboto, Georgia;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    margin-top: 10px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 500px;
}

#searchInput:focus {
    border-color: #4d90fe;
}

#searchInputModal {
    z-index: 5000;
}

.pac-container {
    z-index: 5000;
}

/*******************************  ADD EVENT BUTTON  *******************************/

#addEvent {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -28px;
    width: 56px;
    height: 56px;
    box-shadow: 3px 3px 10px #000;
    opacity: 0.8;
}

#addEvent:hover {
    opacity: 1;
    transform: scale(1.1);
}

#addEvent i {
    line-height: 56px;
    font-size: 2.6rem;
}

/*******************************  MAIN MENU BUTTON  *******************************/

.mainmenuDiv {
    position: absolute;
    top: 10px;
    right: 10px;
}

.mainmenuDiv ul {
   width: 220px !important;
}

.mainmenuDiv li a {
    padding-left: 15px;
    padding-right: 15px;
    width: 140px;
}

#mainmenuBtn {
    width: 65px;
    height: 65px;
    box-shadow: 3px 3px 10px #000;
    opacity: 0.8;
}

#mainmenuBtn i {
    line-height: 65px;
    font-size: 2.3rem;
}

#mainmenuBtn:hover {
    opacity: 1;
    transform: scale(1.075);
}

/*******************************  FILTERS TOGGLABLE TAB  *******************************/

#toggleFilter {
    position: absolute;
    left: 0;
    top: 50%;
    width: 10px;
    height: 450px;
    margin-top: -225px;
    background-color: #FFF;
    z-index: 100;
    border-radius: 0 20px 20px 0;
    box-shadow: 3px 4px 15px #323232;
}

#toggleFilterBtn {
    position: absolute;
    right: -17px;
    top: 50%;
    height: 30px;
    margin-top: -15px;
}

#toggleFilterBtn:hover {
    cursor: pointer;
}

#filterCheckbox {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#filterCheckbox p {
    color: #000;
    font-size: 13px;
    margin: 0;
    line-height: 20px;
}

#filterCheckbox p, #filterCheckbox label {
    text-align: center;
    font-size: 1.1em;
}

/*******************************  THUMBS UP/DOWN IN INFOWINDOW  *******************************/

#iw-menu {
    display: flex;
    justify-content: space-evenly;
}

#iw-menu a:hover {
    cursor: pointer;
}

/*******************************  INFOWINDOW OVERRIDE  *******************************/

.infowindow, .infowindowShort {
    text-align: center;
    font-weight: bolder;
}

.infowindow {
    width: 270px;
}

.infowindow p {
    overflow-wrap: break-word;
}
