html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#optionalSearchInput, #optionnalLatLngInput {
    display: none;
}

/*******************************  MODAL CONTENT  *******************************/
.typeSelection {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 0 15px;
    border: 2px solid #000;
}

.typeSelection:hover {
    filter: contrast(200%) brightness(150%);
    border: 2px solid blue;
}

.typeSelection.active {
    border: 2px solid blue;
}

#imgTypes {
    display: flex;
    justify-content: space-around;
}

#addNotif textarea {
    resize: none;
}

/*******************************  SEARCH PLACES INPUT  *******************************/

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#searchInput {
    background-color: #fff;
    font-family: Roboto, Georgia;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    margin-top: 10px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 500px;
}

#searchInput:focus {
    border-color: #4d90fe;
}

#searchInputModal {
    z-index: 5000;
}

.pac-container {
    z-index: 5000;
}

/*******************************  ADD EVENT BUTTON  *******************************/

#addEvent {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    box-shadow: 3px 3px 10px #000;
    opacity: 0.8;
}

#addEvent:hover {
    opacity: 1;
    transform: scale(1.075);
}

#addEvent i {
    font-style: normal;
    line-height: 80px;
    font-size: 3.5rem;
}

/*******************************  FILTERS TOGGLABLE TAB  *******************************/

#toggleFilter {
    position: absolute;
    left: 0;
    top: 50%;
    width: 10px;
    height: 320px;
    margin-top: -160px;
    background-color: #FFF;
    z-index: 10000;
    border-radius: 0 20px 20px 0;
    box-shadow: 3px 4px 15px #323232;
}

#toggleFilterBtn {
    position: absolute;
    right: -17px;
    top: 50%;
    height: 30px;
    margin-top: -15px;
}

#toggleFilterBtn:hover {
    cursor: pointer;
}

#filterCheckbox {
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#filterCheckbox p {
    color: #000;
    font-size: 13px;
    text-align: center;
    margin: 0;
    line-height: 20px;
}

#filterCheckbox label {
    text-align: center;
}

/*******************************  THUMBS UP/DOWN IN INFOWINDOW  *******************************/

#incrementor {
    display: flex;
    justify-content: space-around;
}

#incrementor img {
    height: 30px;
}

#incrementor img:hover {
    cursor: pointer;
}